<div class='container'>
  {{#each artists}}
    <div class='artist'>

      {{#if images}}
        {{#each images}}
          {{#if @first}}
            <picture>
              <img src='{{url}}' alt='Erro de imagem' />
            </picture>
          {{/if}}

        {{/each}}
      {{else}}
        <picture>
          <img
            src='https://raw.githubusercontent.com/codetheweb/aoede/main/.github/logo.png'
            alt='Erro de imagem'
          />
        </picture>
      {{/if}}

      <h3>{{name}}</h3>
      <form action='/album-results'>
        <button class='button'>See albums</button>
      </form>

    </div>
  {{/each}}
</div>